<div *ngIf="!isAccess" class="noData">
  <h2>Kindly Login/SignUp to add new Notes and Tasks!!</h2>
  <button class="click" (click)="onNewUser()">Login to Continue</button>
</div>
<div *ngIf="isAccess && !isLoading" class="myfield">
  <div>
    <mat-form-field appearance="outline" class="formInput" align="end">
      <mat-label>Search</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput #input (keyup)="applyFilter($event)" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="formSelect">
      <mat-label>Filter</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let val of priorities"
          [value]="val"
          (click)="onSelect(val)"
        >
          {{ val }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div *ngIf="isLoading && isAccess" class="sniper">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>
<div *ngIf="isLoading && isAccess" class="sniper2">
    <p class="process">Processing request....</p>
</div>
<div *ngIf="cardShow.length === 0 && !isLoading && isAccess" class="noData">
  <p>All your Notes are shown here!!</p>
</div>
<div *ngIf="!isLoading && isAccess">
  <div
    *ngFor="let card of cardShow"
    class="col-xs-12 col-md-3 col-sm-6"
    style="margin-bottom: 20px"
  >
    <mat-card class="example-card">
      <mat-card-header class="cardTitle">
        <div>
          <mat-card-title class="cardsTitle">{{ card.title }}</mat-card-title>
        </div>
        <hr />
      </mat-card-header>
      <mat-card-content class="cardContent">
        <p>{{ card.content }}</p>
        <hr />
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-stroked-button
          matTooltip="Task Priority"
          matTootip="priority"
          [color]="getColor(card.priority)"
        >
          {{ card.priority }}
        </button>
        <div>
          <button
            mat-icon-button
            matTooltip="Delete Task"
            color="warn"
            (click)="onDeleteTask(card.id)"
            aria-label="Example icon button with a delete icon"
            class="deletebtn"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Edit Task"
            color="primary"
            aria-label="Example icon button with a home icon"
            (click)="onEditTask(card.id)"
          >
            <mat-icon>edit_note</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
