header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #cf1a1a;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
}

h3{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
    color: white;
}
