<app-header></app-header>
<div class="wels" *ngIf="!isLoging"><h1>Sign Up</h1></div>
<div class="wels" *ngIf="isLoging"><h1>Login</h1></div>
<div class="intro" *ngIf="!isLoging">
  <p style="font-size: 18px">Create an Account</p>
</div>
<div class="wels">
  <form class="example-form" [formGroup]="welcomeForm">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="emailAdd"
          placeholder="Ex. abc@example.com"
        />
      </mat-form-field>
      <div class="error">
        <span
          *ngIf="
            welcomeForm.get('emailAdd')?.errors &&
            welcomeForm.get('emailAdd')?.hasError('required') &&
            welcomeForm.get('emailAdd')?.touched
          "
          >Email is required</span
        >
        <span
          *ngIf="
            welcomeForm.get('emailAdd')?.errors &&
            welcomeForm.get('emailAdd')?.hasError('email')
          "
          >Email is invalid</span
        >
      </div>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="error">
        <span
          *ngIf="
            welcomeForm.get('password')?.errors &&
            welcomeForm.get('password')?.hasError('required') &&
            welcomeForm.get('password')?.touched
          "
          >Password is required</span
        >
      </div>
    </div>
    <div class="intro">
      <button
        mat-raised-button
        color="primary"
        (click)="onWelcome()"
        [disabled]="welcomeForm.invalid"
      >
        {{ isLoging ? "Login" : "SignUp" }}
      </button>
    </div>
    <div class="intro" *ngIf="!isLoging">
      <p>Already have an Account? <a (click)="onSwitch()">Login Now</a></p>
    </div>
    <div class="intro" *ngIf="isLoging">
      <p>New User? <a (click)="onSwitch()">Sign Up</a></p>
    </div>
  </form>
</div>
