.wels{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.wels h1{
    margin-top: 10px;
}

.intro{
	display: flex;
    justify-content: center;
}
.intro p{
	margin-top: 5px;
}

.intro a{
	text-decoration: none;
	cursor: pointer;
}