.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container {
  padding-top: 150px;
}

.addT {
  display: flex;
  justify-content: center;
}
.error{
  font-size: 12px;
  color: red;
  margin-top: -15px;
  padding-left: 2px;
  transition: .5s;
}
