.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container {
  padding-top: 150px;
}

.addT {
  display: flex;
  justify-content: center;
}

